<!DOCTYPE html>
<html>
<head>

<title>Fucker</title>
<%= stylesheet_link_tag "bootstrap_and_overrides" %>
<%= csrf_meta_tags %>
</head>
<body>

<div class= "container">
  <%= yield %>
</div>
</body>
</html>
